*{
    margin: 0;
    padding: 0;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: black;
    
      
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

#navbar{
    border-bottom: 1px solid rgb(192, 192, 192);
}

#navbarlist {
    display: flex;
    justify-content: space-around;
    padding: 0.2rem 1rem;
    align-items: center;
    font-size: 0.7rem;
    max-width: 1000px;
    margin: 0 auto;
}

#logo{
    opacity: 0.8;
}
#logo:hover{
    opacity: 1;
}

#navbarlist a{
    color: rgba(255, 255, 255, 0.8);
}

#navbarlist a:hover{
    color: #fff;
}

#navbar-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    margin: 0 auto;
    max-width: 1000px;
    color: #E8E8ED;

}

#navbar-middle a{
    color: #E8E8ED;
}

#navbar-middle a:hover{
    color: #fff;
}

#middle-list{
    display: flex;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    gap: 1rem;
    
}

#navbar-middle h2{
    text-align: left;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

#navbar-middle a.btn{
    background-color: rgb(41, 151, 255);
    padding: 0.4rem 1rem;
    border-radius: 10rem;
    color: #fff;
}

#navbar-middle a.btn:hover{
    background-color: #0071e3;
    color: #E8E8ED;
}

#main-content{
    color: #E8E8ED ;
    text-align: center;
  
}

#main-content #promo10{
    text-align: center;
    background-color: #1d1d1f;
    padding: 0.9rem 0.9rem;
    font-size: 0.7rem;
    
}


#main-content #promo10 a{
    background-color: #1d1d1f;
    color: rgb(41, 151, 255);
}

#main-content #title{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 3rem 0rem 5rem 0rem;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    
    
}

#main-content #title h1{
    font-size: 4rem;
    word-spacing: -0.2rem;  
}

#color-selector{
    display: flex;
    align-items: center;
}

#color-picker {
    display: flex;
    margin-left: 1rem;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;
}

.color-name{
    font-size: 1rem;
    font-weight: bold;
    transition: opacity 0.5s linear .1s;
    opacity: 1;
}

#image-iphone{
    transition: opacity 0.5s linear .1s;
}


.fade{
    opacity: 0;  
}

#color-selector li .color{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 3px solid black;
}


#color-picker #purple .color{
    background-color: rgb(86, 71, 86);
}

#color-picker #gold .color{
    background-color: rgb(219, 204, 133);  
}

#color-picker #silver .color{
    background-color: rgb(191, 196, 201); 
}

#color-picker #black .color{
    background-color: rgb(56, 57, 58);
}

.selected{
    outline: 1px solid rgb(41, 151, 255);
}

@media (max-width: 780px){

    .nav-link{
        opacity: 0;
    }

    #navbarlist{
        padding: 0.1rem 1rem;
        font-size: 1rem;
    }

    .nav-icons{
        margin-left: 2rem;
    }
    #navbar-middle{
        padding: 0.1rem 0.1rem;
    }

    .middle-link{
        opacity: 0;
    }

    #main-content #promo10 {
        font-size: 0.8rem;
    }

    #main-content #title {
        padding: 3rem 1rem 5rem 1rem;
    }

    #main-content #title h1{
        font-size: 3.2rem;
    }

    #image-iphone{
        max-width: 600px;
    }

}

@media (max-width: 480px){
    #image-iphone{
        max-width: 380px;
        text-align: center;
    }    
    #main-content #title {
        display: flex;
        flex-direction: column;
    
    }

    #navbar-middle{
        max-width: 500px;
        align-items: center;
        padding: 0 1rem 0.5rem;
    }
    .middle-link{
        font-size: 0;
    }
    #navbar-middle h2{
        font-size: 1.1rem;
        max-width: 200px;
        
    }

    .nav-link{
        font-size: 0;
    }

}